@model UserInfo
@{
    ViewBag.Title="Başvuru Formu";
}
<h1 class="text-center">Toplantı Katılım Formu</h1>
<form method="post" action="/meeting/apply">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">İsim</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Telefon</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <input asp-for="WillAttend" class="form-check-input">
        <label asp-for="WillAttend" class="form-check-label">Katılıyorum</label>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>